:root {
  /* Color Primary */
  --Purple: hsl(259, 100%, 65%);
  --Light-red: hsl(0, 100%, 67%);

  /* Color Neutral */
  --White: hsl(0, 0%, 100%);
  --Off-white: hsl(0, 0%, 94%);
  --Light-grey: hsl(0, 0%, 86%);
  --Smokey-grey: hsl(0, 1%, 44%);
  --Off-black: hsl(0, 0%, 8%);

  /* Font Variables (Weights: 400i, 700, 800i)*/
  --Poppins: "Poppins", sans-serif;
  --headingFont-lg: 4.4rem;
  --headingFont-sm: 3.5rem;
  --regularFont-lg: 2rem;
  --regularFont-sm: 1.25rem;
  --smallFont-lg: 0.875rem;
  --smallFont-sm: 0.75rem;
}

/* Ephraim's preferred CSS reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--Light-grey);
  font-family: var(--Poppins);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Main Content */

.age-calculator-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 24px 24px 200px 24px;
  background-color: var(--White);
  padding: 3.5rem;
}

.age-calculator-content {
  width: 728px;
}

/* Form Section */

.form-section {
  display: flex;
}

input {
  padding-left: 1.5rem;
  color: var(--Purple);
  border-radius: 8px;
  width: 10rem;
  height: 4.5rem;
  border: 1px solid var(--Smokey-grey);
}

input:focus {
  color: var(--Purple);
  outline: 1px solid var(--Purple);
}

.input-group {
  display: flex;
  flex-direction: column;
  color: var(--Smokey-grey);
  font-size: var(--regularFont-lg);
  font-weight: 700;
}

.input-group label {
  padding-bottom: 0.5rem;
  font-size: var(--smallFont-lg);
}

.input-group:nth-child(2) {
  padding: 0rem 2rem;
}

/* Line and calc-btn */

.line-wrapper {
  display: flex;
  align-items: center;
}

.line {
  background-color: var(--Light-grey);
  width: 100%;
  height: 1px;
}

.calculate-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Purple);
  width: 96px;
  height: 86px;
  border: none;
  border-radius: 50%;
  transition: 0.5s ease;
  cursor: pointer;
}

.calculate-btn:hover {
  background-color: var(--Off-black);
}

/* Calc results */

.calc-results {
  list-style: none;
  font-size: var(--headingFont-lg);
  font-weight: 700;
  letter-spacing: -2px;
  line-height: 140%;
  padding: 0;
}

.calc-results span {
  color: var(--Purple);
  padding-right: 0.5rem;
  font-style: italic;
}

@media screen and (max-width: 936px) {
  body {
    height: 100%;
  }

  .age-calculator-wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 24px 24px 100px 24px;
    background-color: var(--White);
    padding: 3rem 1.5rem;
    margin-top: 5.5rem;
  }

  .age-calculator-content {
    width: 343px;
  }

  input {
    padding-left: 1rem;
    width: 5.479rem;
    height: 3.375rem;
  }

  .input-group {
    font-size: var(--regularFont-sm);
  }

  .input-group label {
    padding-bottom: 0.25rem;
    font-size: var(--smallFont-sm);
  }

  .input-group:nth-child(2) {
    padding: 0rem 1rem;
  }

  .line-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    padding: 4rem 0rem;
  }

  .line {
    background-color: var(--Light-grey);
    width: 100%;
    height: 1px;
  }

  .svg {
    width: 24px;
    height: 24px;
  }

  .calculate-btn {
    position: absolute;
    right: 50%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Purple);
    width: 4rem;
    height: 4rem;
    border: none;
    border-radius: 100%;
    transition: 0.5s ease;
    cursor: pointer;
  }

  .calc-results {
    list-style: none;
    font-size: var(--headingFont-sm);
    font-weight: 700;
    letter-spacing: -2px;
    line-height: 140%;
    padding: 0;
  }
}

.errorInput,
.errorMessage {
  color: var(--Light-red);
}

.errorMessage {
  font-size: var(--smallFont-lg);
  font-style: italic;
  font-weight: 400;
  padding-top: 0.5rem;
}
